.category{
	padding:1.4rem 1.4rem 0;
	.cateTop{
		display:flex;
		justify-content: space-around;
		padding:1.4rem 0;
		box-shadow:1px 1px 5px #f0f0f0;
		.cateTopItem{
			width:16%;
			text-align: center;
			p{
				font-size:2.6rem;
			}
		}
	}
	.cateBottom{
		display:flex;
		justify-content: space-between;
		padding:1.4rem 0;
		margin-top:0.8rem;
		.cateBottomItem{
			position:relative;
			width:23%;
			text-align: center;
			p{
				position:absolute;
				width:100%;
				top:2rem;
				color:#fff;
				font-size:2.6rem;
			}
		}
	}
}