.hot{
	padding:3rem 1rem 5.22rem;
	.hotTitle{
		display: flex;
		justify-content: space-between;
		padding-bottom:1rem;
		font-size:3.4rem;
		i{
			color:#ccc;
		}
	}
	.hotContentf{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.hotItem{
			width:32%;
			margin-bottom:2rem;
			.imgbox{
				position:relative;
				img{
					width:100%;
				}
				.logoi{
					position:absolute;
					display: block;
					width:3rem;
					height: 4rem;
					top:0;
					left:1rem;
					background: url(https://m.juooo.com/public/basic/Home/app/app-juooo5/images/juooo.png) 0 0 no-repeat;
					background-size: 100%;
				}
				
			}
			.playName{
				display: block;
				width:100%;
				line-height:3rem;
				font-size:3rem;
				overflow: hidden;
				word-break: break-all;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.playTime{
				font-size: 2.4rem;
				color:#c0c0c0;
				display:flex;
				justify-content: space-between;
				padding: 0 0.4rem;
				line-height: 2rem;
			}
			
		}
	}
	.hotContents{
		
		.hotItem{
			padding:1rem 0;
			display:flex;
			.imgbox{
				width:11rem;
				position:relative;
				.logoi{
					position:absolute;
					display: block;
					width:3rem;
					height: 4rem;
					top:0;
					left:1rem;
					background: url(https://m.juooo.com/public/basic/Home/app/app-juooo5/images/juooo.png) 0 0 no-repeat;
					background-size: 100%;
				}
			}
			.play{
				flex:1;
				padding:0 1rem;
				.playName{
					font-size:3rem;
				}
				.playTime{
					margin-top:1rem;
				}
				.playDress,.playTime{
					font-size:2.4rem;
					color:#999;
				}
				.playPrice{
					text-align: right;
					span{
						font-size:2.6rem;
						padding:0.6rem 1rem;
						border-radius:8px;
						background: darkorange;
						color:#fff;
					}
					
				}
			}
		}
		
	}
	.lookMore{
		padding:2rem 0;
		text-align: center;
		font-size: 2.6rem;
		button{
			color:#666;
			border: 1px solid #fdfdfd;
			padding: 0.6rem 2rem;
			border-radius: 8px;
			background: #fdfdfd;
		}
	}
}