.detailInfo{
	.detailInfoBg{
		position:relative;
		width:100%;
		height:34rem;
		overflow:hidden;
		.wihtebg{
			position:absolute;
			bottom:-2.5rem;
			left:-10%;
			z-index: 333;
			width:120%;
			height: 5rem;
			background: #fff;
			border-radius:50%;
		}
		.bgimg{
			width:100%;
			filter: blur(0.6rem);
		}
		.showNum{
			position:absolute;
			top:50%;
			right:3%;
			z-index:445;
			color:#fff;
			border:1px solid #eee;
			padding:0.6rem;
			border-radius: 5px;
			font-size:3rem;
			}
		.showImg{
			position:absolute;
			z-index:444;
			bottom:0;
			width:40%;
			margin-left:30%;
			border:2px solid #f0f0f0;
		}
	}
	.detailContent{
		padding:1rem 2rem 0;
		p{
			color:#666;
			padding-bottom:0.4rem;
		}
		.showPrice{
			color:darkorange;
		}
		h3{
			padding-bottom:1rem;
		}
	}
}